body {
  font-family: sans-serif;
  max-width: 600px;
  margin: 20px auto;
}

h1,
h2,
h3 {
  color: #ff69b4; 
  text-align: center;
}

#add-movie-form input,
#search-input,
button {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-radius: 30px; 
}

button {
  background-color: #f08080;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #cd5c5c;
}

.movie-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 30px; 
}

.movie-item p {
  font-weight: bold;
  margin-bottom: 5px;
}

.movie-item button {
  width: auto;
  padding: 5px 10px;
  margin-right: 5px;
}